._ticker {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -1;
    @include adaptive-value("gap", 60, 30, 1);

    @include adaptive-value("padding-top", 100, 50, 1);
    @include adaptive-value("padding-bottom", 100, 50, 1);

    @media (any-hover: hover) {
        &:hover {
            .ticker-text {
                animation-play-state: paused;
            }
        }
    }

    // ._ticker-text

    &-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("gap", 60, 30, 1);

        span {
            color: rgba(255, 197, 109, 0.5);
            font-family: "Multiround Pro";
            @include adaptive-value("font-size", 96, 26, 1);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -1px;
            text-transform: uppercase;
            white-space: nowrap;
        }

        img,
        svg {
            flex: 0 0 auto;
            object-fit: contain;
            max-width: unset;
            @include adaptive-value("height", 80, 50, 1);
            @include adaptive-value("width", 80, 50, 1);
        }
    }
}
