@font-face {
	font-family: helvetica_regular;
	font-display: swap;
	src: url("../fonts/helvetica_regular.woff2") format("woff2"), url("../fonts/helvetica_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MultiroundPro;
	font-display: swap;
	src: url("../fonts/MultiroundPro.woff2") format("woff2"), url("../fonts/MultiroundPro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
